/* Light Blue Theme */
.admin-layout .main-content {
  margin-left: -40px;
  padding: 2rem;
  margin-top: -30px;
}

.sidebar {
  background-color: none;
  color: #1890ff;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: -10px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}


.menu-item {
  color: #1890ff;

  background-color: #EFF2FE;
}

.menu-item:hover {
  background-color:  #1890ff !important;
  color: #ffffff !important;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
}

.ant-menu-item-selected a {
  color: #ffffff !important;
}

.ant-menu-item-selected .anticon {
  color: #ffffff !important;
}

.ant-menu-item a {
  color: #1890ff;
}

.ant-menu-item a:hover {
  color: #ffffff !important;
}

.logout-item .logout-button {
  background-color: #1890ff !important;
  color: #ffffff !important;
  border: none !important;
}

.logout-item .logout-button:hover {
  background-color: #096dd9 !important;
  color: #ffffff !important;
}
