.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 50px 0px;
}

.login-leftPart,
.login-rightPart {
  width: 50%;
  height: 100%;
}

.login-leftPart {
  padding: 80px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.login-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-leftPart img {
  width: 122px;
  height: 97px;
}

.login-leftPart h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #1a1a1a;
}

.login-leftPart .p-cred {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #444444;
}

.input-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.input-field input {
  width: 100%;
  border: 1px solid #444444;
  border-radius: 8px;
  padding: 10px 20px;
}

.input-field #email,
#password,#email, #passwordd, #firstName,#lastName,#rePassword ,#phone {
  border: 1px solid #444444;
  border-radius: 8px;
  padding: 10px 10px;
}

.input-field .MuiInputAdornment-root {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.filled-in {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 10px;
}



.rememberPart {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.rememberPart label {
  flex: 1;
  margin-top: -20px;
}

.rememberPart p {
  flex: 1;
  text-align: right;
  margin-top: -20px;
  font-weight: bold;
}

.btn{
  background-color: #5a7bfa;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  color:#ffffff ;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4a66d1;
}
.btn:disabled {
  background-color: #b0bec5; 
  cursor: not-allowed;
}

.error-message {
  color: red;
}

.login-links {
  margin-top: 60px;
  text-align: center;
  color: #5a7bfa;
  font-weight: bold;
}

.login-links a {
  color: #5a7bfa;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

.login-rightPart {
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(180deg, #8878f3, #8878f3, #312e49);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomInHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInUpHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.login-rightPart img {
  width: 584px;
  height: 571px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  animation: zoomIn 1s ease-in-out;
}

.login-rightPart img:hover {
  animation: zoomInHover 0.5s ease-in-out;
}

.login-rightPart p {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
clear: both;
animation: fadeInUp 1.5s ease-in-out;
}
.login-rightPart p:hover {
  animation: fadeInUpHover 0.5s ease-in-out;
}
.login-rightPart .p-text {
  padding-bottom: 40px;
  font-size: 16px;
  color: #ffffff;
   animation: fadeInUp 1.5s ease-in-out;
  animation-delay: 0.5s;
}
.login-rightPart .p-text:hover {
  animation: fadeInUpHover 0.5s ease-in-out;
}

@media (max-width: 1310px){

  .login-container {
  margin: 150px 0px;
}
  .login-leftPart, .login-rightPart{
    width: 100%;
    height: auto;
  }
.login-rightPart img{
width: 443px;
height: 521px;
}

}
@media (max-width: 1180px){
  .login-container {
     margin: 100px 0px;
  }

  .login-leftPart{
    width: 100%;
    height: auto;
  }



  .login-rightPart {
display: none;
  }
}

@media (max-width: 768px) {
  .login-container {
   margin: 100px 0px;
  }

  .login-leftPart,
  .login-rightPart {
    width: 100%;
    height: auto;
  }



  .login-rightPart {
display: none;
  }
}

@media (max-width: 480px) {
    .login-container {
     margin: 50px 0px;
  }
  .login-leftPart {
    padding: 20px;
  }

  .login-leftPart h1 {
    font-size: 24px;
  }

  .login-leftPart p {
    font-size: 12px;
  }
span{
  font-size: 12px;
}
  .login-rightPart {
    display: none;
  }

}

.shoes{
    position: relative;
    top: -65px;
    padding: 10px;
}

