.mb-4 {
  width: 400px;

  .input-field, select {
    border-radius: 8px;
    width: 422px;
    height: 42px;
    padding-left: 10px;
    border: 1.5px solid #808080;
    color: #808080;
    margin-top: 20px;
    background-color: #EFF2FE;
  }
}

.button {
  width: 450px;
  height: 42px;
  background-color: #5A7BFA;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: #231F20;
}

p {
  margin-top: 30px;
  margin-left: 100px;

  .login {
    color: #5A7BFA;
  }

  .login:hover {
    color: #231F20;
  }

  .h1 {
    color: #5A7BFA;
  }
}

@media (max-width: 768px) {
  .mb-4 {
    width: 90%;
    margin-left: 10px;
    margin-right: 30px;

    .input-field, select {
      width: 106.5%;
    }
  }

  .button {
    width: 100%;
    margin-left: 10px;
  }

  p {
    margin-top: 30px;
    margin-left: 60px;
  }
}
